.main{
    background: #fff;
    width: 550px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px;
}
.form-container{
    width: 500px;
    margin: 0 auto;
    text-align: left;
}
#create_task{
    float: right;
}
.assignee_all{
    margin-top: 20px;
    margin-bottom: 20px;
}